{% set author_found = false %}
{% set the_author = {} %}

{% include "helpers/get-author.njk" %}

{% if author_found == true %}    

    <div class="author-box">
        <img class="author-avatar" src="{{ the_author.image | url }}" alt="{{ the_author.name }}{% if the_author.title | length > 0 %}, {{ the_author.title }}{% endif %}" loading="lazy">
        <div class="author-info">
            <h4>{{ the_author.name }}</h4>
            <p>{{ the_author.bio }}</p>
            {% if the_author.social | length > 0 %}                
                <div class="author-socials">
                    {% for item in the_author.social %}                        
                        <a href="{{ item.url | url }}" target="_blank" rel="noopener noreferrer"><i class="{% if item.icon == 'globe' %} fas{% else %} fab{% endif %} fa-{{ item.icon }}"></i></a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endif %}