<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
        {% for item in faq.items %}
            {
                "@type": "Question",
                "name": "{{ item.q }}",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "{{ item.a }}"
                }
            }{% if loop.last %}{% else %},{% endif %}
        {% endfor %}
    ]
}
</script>