---
layout: default
---
<main class="container mx-auto px-4 pt-6 pb-12">
    <article class="prose lg:prose-xl">

        <h1 style="margin-top: 0;">
            {{ title }}
        </h1>

        {% include "helpers/reading-time.njk" %}

        {{ content | safe }}

        {% if faq.items | length > 0 %}
            {# FAQ Section #}
            {% if faq.title | length > 0 %}                
                <h2 id="faq">Frequently Asked Questions about AI for Administrative Tasks</h2>
            {% endif %}

            <div class="faq-section mt-8">
                {% for item in faq.items %}
                    <div class="faq-item">
                        <details>
                            <summary class="faq-question">
                                {{ item.q }}
                                <span class="faq-icon ml-auto text-indigo-600"><i class="fas fa-plus"></i></span>
                            </summary>
                            <div class="faq-answer">
                                <p>
                                    {{ faq.a }}
                                </p>
                            </div>
                        </details>                    
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </article>

    {% if author | length > 0 %}
        {% set author_id = author %}
        {% include "partials/author.njk" %}
    {% endif %}

</main>